# Kconfig - ST Microelectronics STM32L152XX MCU
#
# Copyright (c) 2017, embedjournal.com
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_STM32L152XD

config SOC
	string
	default "stm32l152xd"

config NUM_IRQS
	int
	default 57

if GPIO_STM32

config GPIO_STM32_PORTE
	default y

endif # GPIO_STM32

endif # SOC_STM32L152XD


